<script type="text/javascript">
	$(document).ready(function (){
		var $button          = $(".burger-button");
		var $navBar          = $(".navigation");
		var $blockPage       = $(".block-page");
		var $returnButton    = $(".return");
		var $connectionButton = $(".nav-login");
		var $connection       = $(".connection");
		$button.click(function (){
			$connection.css('left','-200px');
			if($navBar.css('left') == '-200px'){
				$navBar.css('left','0px');
				$blockPage.fadeIn('fast');
			}else{
				$navBar.css('left','-200px')
				$blockPage.fadeOut('fast');
			}
			if($connection.css('left') == '0px'){
				$connection.css('left','-200px');
			}
		});
		$returnButton.click(function (){
			if($connection.css('left') == '0px'){
				$connection.css('left','-200px');
			}
			if($navBar.css('left') == '-200px'){
				$navBar.css('left','0px');
			}
			if($(window).width() >= 817){
				$blockPage.fadeOut();
			}
		});
		$blockPage.click(function (){
			if($(window).width() < 817){
				if($navBar.css('left') == '0px'){
					$navBar.css('left','-200px');
				}
			}
			if($connection.css('left') == '0px'){
				$connection.css('left', '-200px');
			}
			$blockPage.fadeOut();
		});
		$connectionButton.click(function (event){
			event.preventDefault();
			$connection.css('left','0px');
			if($(window).width() > 816){
				$blockPage.fadeIn();
			}
		});
		$(window).resize(function(){
			console.log($(window).width());
			if($(window).width() >= 817){
				$navBar.css('left','0px');
			}else{
				$navBar.css('left','-200px');
			}
			if($connection.css('left') !== '0px'){
				$blockPage.fadeOut('fast');
			}
		});

	});
</script>
<div class="nav-top">
	<div class="burger-button">
		<div class="top segment"></div>
		<div class="middle segment"></div>
		<div class="bottom segment"></div>
	</div>
</div>
<div class="block-page" style="display : none;">
</div>
<div class="connection">
	<div class="nav-option return">Back</div>
	{{ render(controller('WnBlogBundle:Blog:login'))}}
</div>
<nav class="navigation">
	<ul class="list-menu">
		<li class="menu"><a href="#" class="actif filter" data-filter=".element">Blog Perso</a></li>
		{% for category in categories %}
		<li class="menu"><a href="#" class="filter" data-filter=".category-{{category.name}}">{{ category.name }}</a></li>
		{% endfor %}
		<li class="menu"><a href="#" class="filter" data-filter=".element-image">Gallery</a></li>
		<li class="menu"><a href="#" class="filter" data-filter=".element-model3D">Model 3D</a></li>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li class="menu"><a href="{{ path('fos_user_security_logout')}}">Logout</a></li>
		{% else %}
			<li class="menu"><a href="#" class="nav-login">Login</a></li>
		{% endif %}	
	</ul>
</nav>