.description{ 
	background    : white;
	color         : #202D39;
	width         : 622px;
}

.description .auteur-date{
	border-bottom  : 1px solid #C6D0DA;
	padding-bottom : 10px;
}

.description .avatar{
	display       : block;
	font-size     : 50px;
	color         : white;
	background    : #C6D0DA;
	width         : 50px;
	padding       : 10px;
	border        : 15px solid white;
	border-bottom : 5px solid white;
}

.description .info{
	margin-top : 20px; 
}

.description .info .auteur{
	text-decoration : none;
	color           : #202D39;
	font-size       : 20px; 
}

.description .info .date{
	font-size : 14px; 
}

.description p{
	padding   : 10px 10px 10px 10px;
	margin    : 0px;
	font-size : 16px;
}

.description .inline{
	display : inline-block;
}

@media screen
and (max-width : 623px){ /* 190+2+310+2+310+2 */
  /* Styles */
  	.description{
		width : 310px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media screen 
and (min-width : 817px)
and (max-width : 1128px){ /* 190+2+310+2+310+2+310+2 */

}

/* Desktops and laptops ----------- */
@media screen 
and (min-width : 1129px)
and (max-width : 1450px){
	.description{
		width : 934px;
	}

}

@media screen 
and (min-width : 1451px)
and (max-width : 1762px){
	.description{
		width : 310px;
	}

}
