<div class="element-image element">
	<a href="{{path('wn_gallery_image_view',{'id': image.id})}}">
		<img src="{{ asset(image.WebPath) }}"/>
	</a>
	<span class="titre">{{ image.title }}</span>
	<a href="#" class="commentaire">{{image.comments|length}} <span class="icon-bubble"></span></a>
</div><!-- element-image -->
