.connexion{
	position   : fixed;
	top        : 100px;
	left       : 50%;
	width      : 200px;
	padding    : 20px;
	background : white;
	margin-left: -110px;
	border     : 1px solid #C6D0DA;
	z-index    : 70;
}

.connexion .group{
	margin : 10px 0px 10px 0px;
}

.connexion .group label{
	display     : block;
	font-family : 'Lato-light';
	font-weight : bold; 
	font-size   : 20px;
	color       : #5F6F81;
}