{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Gestion des commentaires{% endblock title %}

{% block body %}
<h3>Gestion des commentaires</h3>
<table>
	<thead>
		<tr>
			<th>#Id</th>
			<th>Auteur</th>
			<th>Contenu</th>
			<th>Date</th>
			<th>Censurer</th>
		</tr>
	</thead>
	<tbody>
	{% for commentaire in commentaires %}
		<tr>
			<td>{{ commentaire.id }}</td>
			<td>{{ commentaire.auteur.username }}</td>
			<td>{{ commentaire.contenu }}</td>
			<td>{{ commentaire.date | date('d-m-Y')}}</td>
			<td>
				{% if commentaire.censure %}
					Oui
				{% else %}
					Non
				{% endif %}
			</td>
			<td><a href="#">censurer</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock body %}