{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Adding a model{% endblock title %}

{% block body %}
<h3>Adding a model</h3>

<form method="POST" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<script type="text/javascript">
		$(document).ready(function(){
			var $container = $('div#wn_model3dbundle_model3dtype_textures');
			var $lienAjout = $('<a href="#" id="ajout_textures">Ajouter une texture</a>');

			$container.append($lienAjout);

			$lienAjout.click(function(e){
				ajouterTexture($container);
				e.preventDefault();
				return false;
			});

			var index = $container.find(':input').length;
			if(index == 0){
				ajouterTexture($container);
			}else{
				$container.children('div').each(function(){
					ajouterLienSuppression($(this));
				});
			}

			function ajouterTexture($container){
				var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Texture n°'+ (index+1))
																	.replace(/__name__/g, index));
				ajouterLienSuppression($prototype);
				$container.append($prototype);
				index++;
			}

			function ajouterLienSuppression($prototype){
				$lienSuppression = $('<a href="#">Supprimer</a>');
				$prototype.append($lienSuppression);
				$lienSuppression.click(function(e){
					$prototype.remove();
					index--;
					e.preventDefault();
					return false;
				});
			}

		});
	</script>
	<input type="submit"/>
</form>
{% endblock body %}