{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Deleting a category{% endblock title %}

{% block body %}
<h3>Deleting a category</h3>
<p>Are you sure you want to delete this article ?</p>
<form method="POST" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<input type="submit"/>
</form>
{% endblock body %}