{% extends "WnBackendBundle::layout.html.twig" %}

{% block title %}Editing a category{% endblock %}

{% block body %}
<h3>Editing a category</h3>
<form method="POST" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<input type="submit"/>
</form>
{% endblock body %}