<div class="element-image element">
	<a href="#">
		<img src="{{ asset(elementGalerie.WebPath) }}"/>
	</a>
	<span class="titre">{{ elementGalerie.titre }}</span>
	<a href="#" class="commentaire">0 <span class="icon-bubble"></span></a>
</div><!-- element-image -->
