#container{
	width : 100%;
}

.element-render{
	position   : relative;
	width      : 100%;
	background : white;
}

@media screen 
and (min-width : 1451px)
and (max-width : 1762px){
	.element-render{
		width : 934px;
	}
}

@media screen
and (min-width : 1763px)
and (max-width : 2074px){
	.element-render{
		width : 934px;
	}
}

#slider{
	font-size : 10px;
	position  : absolute;
	top       : 4px;
	width     : 96%;
	left      : 2%;
}