{% extends "WnBackendBundle::layout.html.twig" %}
{% block body %}
<script type="text/javascript">
	$(document).ready(function(){
		$('textarea').ckeditor();
	});
</script>
<form method="POST" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	{{ form_widget(form.contenu, {'attr' : {'class':'article-contenu'}}) }}
	<input type="submit"/>
</form>
{% endblock body %}